* {
  box-sizing: border-box;
  margin: 0;
  border-radius: 5px;
}

body {
  font-family: Tahoma, Arial;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
    background-color: #f0f4f8;
}

.quiz-app {
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quiz-app .quiz-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f4f8;
  padding: 20px;
}

.quiz-app .quiz-info .category {
  flex: 1;
}

.quiz-app .quiz-info .category span {
  font-weight: bold;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #0075ff, #00d2ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.quiz-app .quiz-info .count {
  flex: 1;
  text-align: right;
}

.quiz-app .quiz-info .count span {
  font-weight: bold;
  background: linear-gradient(135deg, #0075ff, #00d2ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.quiz-app .progress-bar {
  background-color: #ddd;
  border-radius: 5px;
  height: 5px;
  width: 100%;
  overflow: hidden;
}

.quiz-app .progress {
  height: 100%;
  background: linear-gradient(135deg, #0075ff, #00d2ff);
  width: 0%;
  transition: width 0.4s ease;
  border-radius: inherit;
}

.quiz-app .quiz-area {
  background-color: #f0f4f8;
  padding: 20px;
}

.quiz-app .quiz-area h2 {
  color: #333;
  font-size: 22px;
  font-weight: bold;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
}

.quiz-app .answers-area {
  background-color: #f0f4f8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.quiz-app .answers-area .answers {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.quiz-app .answers-area .answers:hover {
  background-color: #e0f7fa;
  cursor: pointer;
}

.quiz-app .answers-area .answers:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}

.quiz-app .answers-area .answers input[type="radio"]:checked + label {
  background: linear-gradient(135deg, #0075ff, #00d2ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.quiz-app .answers-area .answers label {
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: #777;
  position: relative;
  top: -2px;
}

.quiz-app .submit-button {
  background: linear-gradient(135deg, #0075ff, #00d2ff);
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.quiz-app .submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.01);
}

.quiz-app .submit-button:active {
  opacity: 0.8;
  transform: scale(0.98);
}

.quiz-app .bullets {
  border-top: 1px solid #dfdfdf;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.quiz-app .bullets .spans {
  flex: 1;
  display: flex;
  gap: 5px;
}

.quiz-app .bullets .spans span {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  border-radius: 50%;
}

.quiz-app .bullets .spans span.on {
  background: linear-gradient(135deg, #0075ff, #00d2ff);
}

.quiz-app .countdown {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  background: linear-gradient(135deg, #0075ff, #00d2ff);
  color: #f0f4f8;
  border-radius: 5px;
  transition: background-color 0.5s ease, transform 0.2s ease;
}

.quiz-app .countdown.low-time {
  background: linear-gradient(135deg, #dc0a0a, #f07c7c);
  color: #f0f4f8;
  animation: pulse 1s infinite;
}

.quiz-app .results {
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.quiz-app .results span {
  font-weight: bold;
}

.quiz-app .results span.bad {
  color: #dc0a0a;
}

.quiz-app .results span.good {
  color: #009688;
}

.quiz-app .results span.perfect {
  color: #0075ff;
}

@media (max-width: 600px) {
  .quiz-app {
    padding: 10px;
  }

  .quiz-app .quiz-info > div {
    font-size: 14px;
  }

  .quiz-app .quiz-area {
    padding: 10px;
  }

  .quiz-app .quiz-area h2 {
    font-size: 18px;
    text-align: center;
  }

  .quiz-app .answers-area {
    padding: 10px;
  }

  .quiz-app .answers-area .answers:hover {
    background-color: #e0f7fa;
    cursor: context-menu;
  }

  .quiz-app .answers-area .answers label {
    cursor: context-menu;
  }

  .quiz-app .submit-button {
    font-size: 16px;
  }

  .quiz-app .submit-button:hover {
    cursor: context-menu;
    opacity: 1;
    transform: scale(1);
  }

  .quiz-app .bullets {
    padding: 10px;
    justify-content: space-between;
  }

  .quiz-app .countdown {
    font-size: 14px;
  }
}
